@font-face {
    font-family: 'pridi';
    src: url('../fonts/Pridi/Pridi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../fonts/Pridi/Pridi-SemiBold.ttf') format('truetype');
}

:root {
    --font: 'pridi', sans-serif;
    --title: 'title', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: var(--font);
    color: gray;
}

main {
    display: flex;
}

.one {
    width: 45vw;
    min-height: 100vh;
    background-image: url('../media/imagen.png');
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    align-items: center;
}

.two {
    width: 55vw;
}

.title {
    margin: 0 7%;
    padding: 0;
}

.circle {
    width: 7em;
    height: 7em;
    margin-left: -20px;
    margin-top: 10px;
    top: 12px;
    border: 5px solid orange;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

h1 {
    margin-top: 60px;
    margin-left: 55px;
    font-size: 2.5em;
    font-family: 'title', sans-serif;
    background-color: white;
    color: rgb(34, 34, 34);
}

span, a {
    color: purple;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

a:hover {
    color: orange;
}

form {
    padding: 0 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form {
    padding: 7px 34px;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 2em;
    width: 15vw;
}

.complete {
    width: 83%;
}

.file {
    border: none;
}

.invalid {
    border-color: crimson;
}

.valid {
    border-color: #59B689;;
}

button {
    display: block;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 7px 12px;
    font-family: var(--font);
    transition: 0.7s ease-in-out;
}

button:hover {
    color: purple;
    background-color: white;
}

.cuenta {
    margin-left: calc(12% + 34px);
}

@media only screen and (max-width: 1050px) {
    .form {
        width: 90%;
    }
    input {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .circle {
        width: 6em;
        height: 6em;
    }
    h1 {
        font-size: 1.5em;
    }
    .form {
        width: 100%;
        padding: 7px;
    }
    input {
        width: 100%;
    }
    .cuenta {
        margin: 0;
        padding: 12px;
    }
}

