@font-face {
    font-family: 'pridi';
    src: url('../fonts/Pridi/Pridi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../fonts/Pridi/Pridi-SemiBold.ttf') format('truetype');
}

:root {
    --font: 'pridi', sans-serif;
    --title: 'title', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: var(--font);
    color: gray;
}

main {
    display: flex;
}

.one {
    width: 55vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: purple;
    font-family: var(--font);
    background-color: purple;
}

.card {
    border: 12px solid orange;
    border-radius: 7px;
    background-color: white;
}

h1 {
    margin: 0;
    padding: 12px 20px;
    background-color: white;
    font-family: var(--title);
    animation: rotate 3s infinite ease-in-out alternate;
}

@keyframes rotate {
    from {
        background-color: orange;
        color: purple;
    }
    to {
        background-color: white;
        color: orange;
    }
}

p {
    color: orange;
    text-align: center;
}

.two {
    width: 45vw;
    min-height: 100vh;
    background-image: url('../media/imagen.png');
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}